* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#name {
    color: #222222;
}

h1 {
    font-family: 'Chava', sans-serif;
    font-size: calc(4.2vw + 26px);
    line-height: 110%;
    margin-bottom: 40px;
}

body {
    font-family: 'TT Hoves', sans-serif;
}

section {
    padding: 0 calc(10.6vw - 16px);
}

section.hello {
    background-image: url('./html_css_js\ 1.png');
    background-repeat: no-repeat;
    background-position: top calc(4.9vw + 59px) right calc(6.1vw - 20px);
    background-size: calc(23.9vw + 89px);
}

.logo {
    margin-top: 37px;
    width: 295px;
    height: calc(1.2vw + 25px);
}

.courseData {
    margin-top: calc(6.3vw + 4px);
    margin-bottom: calc(3.1vw + 36px);
    font-size: calc(0.6vw + 14px);
    line-height: 140%;
    display: flex;
    gap: 30px 100px;
    flex-wrap: wrap;
}

.courseData .value {
    font-weight: 700;
}

p {
    font-weight: 300px;
    font-size: calc(1vw + 14px);
    line-height: 140%;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

button.purple {
    width: 328px;
    height: 61px;
    border-radius: 12px;
    padding: 20px, 0px;
    background-color: #6E3ABA;
    color: #fff;
    font-weight: 500px;
    font-size: 18px;
    line-height: 118%;
    border: 0;
}

button.white {
    width: 328px;
    height: 61px;
    border-radius: 12px;
    padding: 20px, 0px;
    background-color: #FFF;
    color: #6E3ABA;
    font-weight: 500px;
    font-size: 18px;
    line-height: 118%;
    border: 1px solid #6E3ABA;
}

h2 {
    font-size: calc(2.7vw + 24px);
    margin-top: calc(11vw + 18px);
    margin-bottom: calc(5.5vw + 19px);
    font-weight: 500;
    line-height: 117%;
    text-transform: uppercase;
}

.students {
    display: flex;
    flex-wrap: wrap;
    gap: calc(1.3vw + 35px) 70px;
}

.student {
    width: 450px;
    flex-basis: 450px;
    flex-grow: 1;
}

.student img {
    width: 210px;
}

.student h4 {
    font-size: calc(1vw + 14px);
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

.student p {
    font-weight: 400;
}

.purpleBg {
    background-color: #6E3ABA;
    padding-top: calc(4.4vw + 23px);
    padding-bottom: calc(4.1vw + 5px);
}

#sell {
    color: #FFFFFF;
    font-size: calc(2vw + 26px);
    line-height: 117%;
    text-align: center;
    text-transform: uppercase;
}

.timer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    color: #2F1D4E;
    margin-top: calc(4.1vw + 5px);
    margin-bottom: calc(4.1vw + 5px);
}

.num {
    font-family: Chava;
    font-size: calc(12.6vw + 13px);
    line-height: 107%;
}

.desc {
    font-size: calc(2vw + 3px);
    font-weight: 500;
    line-height: 117%;
    text-transform: uppercase;
}

.center {
    display: block;
    margin: 0 auto;
}

#name {
    font-weight: 700;
    font-size: calc(1.1vw + 34px);
    line-height: 121%;
    color: #222222;
}

.legendPhoto {
    margin-top: calc(5.5vw + 19px);
    width: calc(7.7vw + 300px);
    height: calc(10.8vw + 423px);
}

.teacher {
    display: flex;
    flex-direction: row;
    gap: calc(3.4vw + 7px);
}

.legendInfo {
    margin-top: calc(8.7vw - 13px);
    flex-wrap: wrap;
}

.teacherinfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(1.1vw + 26px) calc(8.8vw - 23px);
    margin-top: calc(5.5vw + 19px);
}

.teacherinfo>div {
    width: 100%;
}

.end {
    display: grid;
    grid-template-areas: "img title"
        "img subtitle";
    column-gap: 19px;
}

.end_img {
    grid-area: img;
}

.diplom {
    width: calc(11.3vw + 286px);
    height: calc(7.8vw + 200px);
}

.title_diploma h2 {
    margin-bottom: 20px;
    margin-top: calc(1.1vw + 19px);
}

.title_diploma {
    grid-area: title;
}

.paragraph {
    grid-area: subtitle;
}

.pay,
.response {
    margin-bottom: calc(2.2vw + 12px);
    margin-top: calc(1.1vw + 19px)
}

.wage {
    width: calc(81.4vw + 23px);
    height: calc(23.6vw + 7px);
    margin-top: calc(1.8vw + 13px);
}

.oportunities {
    display: flex;
    flex-direction: row;
    row-gap: 70px;
}

.offer {
    margin-top: calc(7.7vw - 9px);
}

.review {
    width: calc(19.1vw + 334px);
    height: calc(11.7vw + 204px);
    margin-top: calc(8.4vw - 46px);
}

.indent {
    margin-bottom: calc(0.6vw + 18px);
}

.courseProgram_wrapper {
    border: 1px solid black;
    position: relative;
    padding: calc(4.9vw + 2px) calc(1.3vw + 18px);
}

.courseProgram_wrapper ol {
    list-style: none;
}

.courseProgram_wrapper ol li {
    padding: 24px 0;
    font-size: calc(0.6vw + 14px);
    border-bottom: 1px solid #A1A1A1;
}

.courseProgram_wrapper img {
    width: 6vw;
    position: absolute;
    top: -3px;
    right: -3px;
}

.courseProgram_wrapper .purple {
    display: block;
    margin: 34px auto 0;
}

.courseProgram .purple.btnMob {
    display: none;
}

.courseProgram_wrapper h2 {
    margin-top: calc(4.4vw + 23px);
    margin-bottom: calc(1.8vw + 17px);
}

.feedback h2 {
    margin-bottom: calc(2.2vw + 12px);
}

.feedback_cards {
    display: flex;
    gap: 0 30px;
}

.feedback_card {
    padding: 50px 20px 38px;
    background-color: #F0F7FD;
    flex-basis: 33%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    margin-bottom: 12px;
}

.card p {
    font-size: 21px;
}

.feedback_card_bottom {
    display: flex;
    gap: 12px;
    font-size: 21px;
}


.aboutus {
    display: flex;
    flex-direction: row;
    gap: 0 97px;
}

.cupimg {
    margin-bottom: calc(2.2vw + 12px);
}

.quantity,
.quantity1 {
    font-weight: 700;
    font-size: calc(2.7vw + 24px);
    line-height: 117%;
}

.quantity {
    margin-bottom: 5px;
}

.quantity1 {
    margin-top: calc(1.1vw + 26px);
    margin-bottom: 8px;
}

.itparkresidents {
    font-family: 'Point Header', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 27px;
    line-height: 140%;
}

.boast {
    font-size: 21px;
    font-weight: 400;
    line-height: 140%;
    font-family: 'caption', sans-serif;
}




@media only screen and (min-width: 769px) {
    .teacherinfo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .teacher {
        flex-direction: column;
    }

    .teacherinfo {
        grid-template-columns: auto auto;
    }

    .descriptionlast {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .end {
        display: grid;
        grid-template-areas: " title"
            " img"
            "subtitle";
        row-gap: 20px;
    }

    .end_img {
        width: 100%;
    }

    .oportunities {
        flex-direction: column;
    }

    .aboutus {
        display: flex;
        flex-direction: column;
    }

    .itparkresidents {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .quantity,
    .quantity1 {
        margin-bottom: 0;
    }

    .itparkresidents {
        font-family: 'TT Hoves', sans-serif;
        text-transform: none;
    }
}

@media (max-width: 545px) {
    .courseProgram_wrapper .purple {
        display: none;
    }

    .courseProgram .purple.btnMob {
        display: block;
        margin: 34px auto 0;
    }
}